# node_modules
node_modules/

# build outputs
client/build/
client/coverage/
client/public/
client/target/
client/src-tauri/gen/
client/src-tauri/target/

server/dist/
server/build/
server/tests/coverage/

test-generator/dist/

*.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/