/* ヘッダー用カスタムスタイル（必要に応じて追加） */
header {
  font-size: 1rem;
}

/* フッター用カスタムスタイル（必要に応じて追加） */
footer {
  font-size: 1rem;
}
footer .btn {
  min-width: 90px;
}

tr.selected td {
  background-color: lightblue !important;
}